---
# roles/common/tasks/firewall.yml
# Base iptables configuration

- name: Install iptables
  apt:
    name:
      - iptables
      - iptables-persistent
    state: present
  when: ansible_os_family == "Debian"

- name: Allow loopback traffic
  iptables:
    chain: INPUT
    in_interface: lo
    jump: ACCEPT
    comment: "Allow loopback"

- name: Allow established connections
  iptables:
    chain: INPUT
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT
    comment: "Allow established"

- name: Allow SSH (before default deny)
  iptables:
    chain: INPUT
    protocol: tcp
    destination_port: "22"
    jump: ACCEPT
    comment: "Allow SSH"
  when: allow_ssh | default(true)

- name: Allow WireGuard port
  iptables:
    chain: INPUT
    protocol: udp
    destination_port: "{{ wireguard_port }}"
    jump: ACCEPT
    comment: "Allow WireGuard"
  when: wireguard_port is defined

- name: Save iptables rules
  shell: iptables-save > /etc/iptables/rules.v4
  changed_when: false
