---
# roles/common/tasks/main.yml
# Common setup for all Zero Trust nodes

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"

- name: Install base packages
  apt:
    name: "{{ common_packages }}"
    state: present
  when: ansible_os_family == "Debian"

- name: Set timezone
  timezone:
    name: "{{ timezone }}"
  when: timezone is defined

- name: Configure sysctl for networking
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_set: yes
    state: present
    reload: yes
  loop: "{{ sysctl_settings }}"

- name: Ensure /etc/sysctl.d exists
  file:
    path: /etc/sysctl.d
    state: directory
    mode: '0755'

- name: Persist sysctl settings
  template:
    src: 99-zerotrust.conf.j2
    dest: /etc/sysctl.d/99-zerotrust.conf
    mode: '0644'
  notify: reload sysctl

- name: Configure firewall base rules
  include_tasks: firewall.yml
  when: configure_firewall | default(true)

- name: Create ZT directories
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - /opt/zerotrust
    - /var/log/zerotrust
    - /etc/zerotrust

- name: Install Python 3 and pip
  apt:
    name:
      - python3
      - python3-pip
      - python3-venv
    state: present
  when: ansible_os_family == "Debian"
